@page "/"

<PageTitle>Index</PageTitle>

<h1>Velkommen</h1>

Velkommen til Hunde Leksikonet
<br/>
<img src="\hundeleksikon1.jpg" asp-append-version="true" width="300px" />
<img src="\berner-sennenhund-star-og-kigger-84375.webp" asp-append-version="true" width="300px" />
<img src="\Golden_Retriever_standing_Tucker.jpg" asp-append-version="true" width="300px" />
<img src="\standard_schaeferhund.jpg" asp-append-version="true" width="250px" />
<img src="\447836523_1208814250485439_2253645641386135300_n.jpg" asp-append-version="true" width="250px" />
<img src="\article-border-collie.jpg" asp-append-version="true" width="400px" />
<img src="\australian-shepherd_1496346676794.png" asp-append-version="true" width="300px" />
<img src="\Labrador.webp" asp-append-version="true" width="300px" />
<img src="\dog-got-a-haircut-on-r-tf2-v0-kxgrfobu7gqb1.jpg" asp-append-version="true" width="160px" />
<img src="\schaeferhvalp-med-haengeorer-ligger-i-graesset-609926.webp" asp-append-version="true" width="300px" />
<img src="\129_big.jpg" asp-append-version="true" width="300px" />



